<section class="examples-section">

    <div class="section-title">

        <span class="tag">APRENDA NA PRÁTICA</span>

        <h2>Alguns exemplos.</h2>

    </div>

    <div class="examples">

        <article>
            <strong>IV</strong>
            <span>4</span>
            <p>5 − 1</p>
        </article>

        <article>
            <strong>IX</strong>
            <span>9</span>
            <p>10 − 1</p>
        </article>

        <article>
            <strong>XIV</strong>
            <span>14</span>
            <p>10 + 5 − 1</p>
        </article>

        <article>
            <strong>XL</strong>
            <span>40</span>
            <p>50 − 10</p>
        </article>

    </div>

</section>